node-red/flows.json
[{"id":"60969fa9.8aa7c","type":"tab","label":"IIoT Demo","disabled":false,"info":""},{"id":"fd3ea091.6efe7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf33bdb5.f6437","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"demo","name":"","usetls":false,"tls":""},{"id":"a46ca6f7.ef6978","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://plc-simulator:4840","secpol":"None","secmode":"None","login":false},{"id":"c4fa23bf.8570d","type":"influxdb out","z":"60969fa9.8aa7c","influxdb":"bf33bdb5.f6437","name":"","measurement":"noise","precision":"","retentionPolicy":"","x":810,"y":160,"wires":[]},{"id":"a3a4e386.c1088","type":"OpcUa-Client","z":"60969fa9.8aa7c","endpoint":"a46ca6f7.ef6978","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":550,"y":420,"wires":[["f95fd8c2.9302c8"]]},{"id":"b03163af.2eeec","type":"OpcUa-Item","z":"60969fa9.8aa7c","item":"ns=1;i=1005","datatype":"Double","value":"","name":"Counter","x":360,"y":420,"wires":[["a3a4e386.c1088"]]},{"id":"527b9084.89b7","type":"debug","z":"60969fa9.8aa7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"d1613e66.8617b","type":"OpcUa-Client","z":"60969fa9.8aa7c","endpoint":"a46ca6f7.ef6978","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":550,"y":80,"wires":[["527b9084.89b7","c4fa23bf.8570d"]]},{"id":"c42afa8e.9c00a8","type":"inject","z":"60969fa9.8aa7c","name":"trigger 100ms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["ccbd67b4.209628","a9a3d6e8.245488","b03163af.2eeec","9c5d2138.62896"]]},{"id":"ccbd67b4.209628","type":"OpcUa-Item","z":"60969fa9.8aa7c","item":"ns=1;i=1011","datatype":"Double","value":"","name":"Noise","x":350,"y":80,"wires":[["d1613e66.8617b"]]},{"id":"7237d8f5.ce4b88","type":"influxdb out","z":"60969fa9.8aa7c","influxdb":"bf33bdb5.f6437","name":"","measurement":"noise2","precision":"","retentionPolicy":"","x":820,"y":260,"wires":[]},{"id":"ebff34aa.ffaa28","type":"debug","z":"60969fa9.8aa7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"31ba7351.b3ed2c","type":"OpcUa-Client","z":"60969fa9.8aa7c","endpoint":"a46ca6f7.ef6978","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":550,"y":220,"wires":[["ebff34aa.ffaa28","7237d8f5.ce4b88"]]},{"id":"a9a3d6e8.245488","type":"OpcUa-Item","z":"60969fa9.8aa7c","item":"ns=1;i=1012","datatype":"Double","value":"","name":"Noise Low","x":370,"y":220,"wires":[["31ba7351.b3ed2c"]]},{"id":"f95fd8c2.9302c8","type":"influxdb out","z":"60969fa9.8aa7c","influxdb":"bf33bdb5.f6437","name":"","measurement":"level","precision":"","retentionPolicy":"","x":830,"y":420,"wires":[]},{"id":"fefd895c.0460e8","type":"OpcUa-Client","z":"60969fa9.8aa7c","endpoint":"a46ca6f7.ef6978","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"ms","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":540,"y":500,"wires":[["5433666d.d3cb78"]]},{"id":"9c5d2138.62896","type":"OpcUa-Item","z":"60969fa9.8aa7c","item":"ns=1;i=1014","datatype":"Double","value":"","name":"Correction","x":360,"y":500,"wires":[["fefd895c.0460e8"]]},{"id":"5433666d.d3cb78","type":"influxdb out","z":"60969fa9.8aa7c","influxdb":"bf33bdb5.f6437","name":"","measurement":"correction","precision":"","retentionPolicy":"","x":830,"y":500,"wires":[]},{"id":"59b3a61c.de6348","type":"OpcUa-Client","z":"fd3ea091.6efe7","endpoint":"a46ca6f7.ef6978","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":570,"y":140,"wires":[["d8974644.4aa4b8"]]},{"id":"d4863478.dcb108","type":"OpcUa-Item","z":"fd3ea091.6efe7","item":"ns=1;i=1011","datatype":"Double","value":"","name":"whatever","x":320,"y":140,"wires":[["59b3a61c.de6348"]]},{"id":"ce1b2829.b90cc8","type":"inject","z":"fd3ea091.6efe7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["d4863478.dcb108"]]},{"id":"d8974644.4aa4b8","type":"debug","z":"fd3ea091.6efe7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":160,"wires":[]}]
